{%- assign tabs = include.tabs | default: site.tabs -%}
{%- if tabs and tabs.size > 0 -%}
<div class="tabs" role="tablist">
  {%- for tab in tabs -%}
    <button
      class="tab-btn{%- if forloop.first -%} is-active{%- endif -%}"
      role="tab"
      id="tab-{{ tab.id }}"
      aria-selected="{{ forloop.first }}"
      aria-controls="{{ tab.id }}"
      {% if forloop.first %}tabindex="0"{% else %}tabindex="-1"{% endif %}
      data-tab-target="{{ tab.id }}">
      {{ tab.label }}
    </button>
  {%- endfor -%}
</div>
<div class="tab-panels">
  {%- for tab in tabs -%}
    <section id="{{ tab.id }}" class="tab-panel{%- if forloop.first -%} is-active{%- endif -%}" role="tabpanel" tabindex="0" aria-labelledby="tab-{{ tab.id }}">
      {{ tab.content | markdownify }}
    </section>
  {%- endfor -%}
</div>
{%- endif -%}
